<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
          <div class="jumbotron">
            <h2>Welcome to Blocipedia</h2>
            <h4>Create and Share Markdown Wiki's</h4>
            <button class="btn-lg">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">
      <div class=" plan_box free_box">
        <h2>Free Plan</h2>
        <h4>Create as many public wiki's as you want!</h4>
        <%= link_to(new_user_registration_path) do %>
        <button class="btn btn-info btn-block">Free Account</button>
        <% end %>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 pull-right col-sm-12">
      <div class=" plan_box premium_box">
        <h2>Premium User</h2>
        <h4>Create Private Wiki's</h4>
        <%= link_to(new_user_registration_path) do %>
        <button class="btn btn-success btn-block">Go Premium</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
