$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

$gray-darkest:      #222 !default;
$gray-darker:       #333 !default;
$gray-dark:         #555 !default;
$gray-base:         #777 !default;
$gray:              #ddd !default;
$gray-light:        #eee !default;
$gray-lighter:      #f1f1f1 !default;
$gray-lightest:     #fafafa !default;

$primary:         #4285F4 !default;
$primary-dark:         #0d47a1 !default;
$success-light:         #00C851 !default;
$success:         #5cb85c !default;
$success-dark:         #449d44 !default;
$info:            #33b5e5 !default;
$info-dark:            #0099CC !default;
$warning:         #ffbb33 !default;
$warning-dark:         #FF8800 !default;
$danger:          #ff4444 !default;
$danger-dark:          #CC0000 !default;

.gray-text {
  color:$gray-dark;
  padding-left:5px;
}
.panel-footer.wiki-footer {
  background: $gray !important;
}
.wiki-footer .dropdown {
  text-align: right;
  float: right;
}

.wikis-index-heading h2 {
   margin-top: 10px;
}
.wiki-heading h3 {
   margin-top: 10px;
}
.wiki-panel-inner-body {
  box-shadow: 0px 0px 10px rgba(60, 60, 60, .35);
}

.wiki-footer .btn-view-wiki {
  text-align: center;
  width: 200px;
  font-size: 1.1em;
}
.wiki-edit-dropdown .dropdown-menu {
  background-image: none;
  padding: 0;
  text-align: center;
  width: 20px;
}
.wiki-edit-dropdown .dropdown-menu li a.menu-edit-wiki {
  background: $warning;
  color: #fff;
  background-image: none;
  transition: .25s ease-in;
}
.wiki-edit-dropdown .dropdown-menu li a.menu-edit-wiki:hover {
  background: $warning-dark;
  color: #fff;
  background-image: none;
  transition: .25s ease-out;
}
.wiki-edit-dropdown .dropdown-menu li a.menu-destroy-wiki {
  background: $danger;
  color: #fff;
  background-image: none;
  transition: .25s ease-in;
}
.wiki-edit-dropdown .dropdown-menu >li> a.menu-destroy-wiki:hover {
  background: $danger-dark;
  color: #fff;
  background-image: none;
  transition: .25s ease-out;
}

.wiki-panel-body {
  background: $gray-light;
  padding: 15px;
}
.panel-body.wiki-panel-inner-body {
padding: 25px 20px ;
color: $gray-base;
}
.label.private-form-label {
  font-size: 1.15em;
  padding: 7px 7px;
  margin-bottom: 30px;
  color: $gray-base;
}
.label .private_badge {
  padding: 4px 6px;
  margin: -4px 0 0 3px;
  border-radius: 3px;
  background-color: #F0AD4E;
}
.private_badge input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 1px;

}
.label-admin {
  margin-left: 5px;
  overflow: visible;
border: none;
-webkit-border-radius: 7px;
border-radius: 7px;
font: normal normal bold 24px/40px "open-sans", Helvetica, sans-serif;
color: rgb(255, 255, 255);
text-align: center;
text-transform: uppercase;
-o-text-overflow: clip;
text-overflow: clip;
white-space: nowrap;
background: -webkit-linear-gradient(-90deg, rgba(247,59,59,0.7) 0, rgba(247,59,59,0.7) 1%, rgba(221,53,53,1) 100%), rgba(229,215,237,0.7);
background: -moz-linear-gradient(180deg, rgba(247,59,59,0.7) 0, rgba(247,59,59,0.7) 1%, rgba(221,53,53,1) 100%), rgba(229,215,237,0.7);
background: linear-gradient(180deg, rgba(247,59,59,0.7) 0, rgba(247,59,59,0.7) 1%, rgba(221,53,53,1) 100%), rgba(229,215,237,0.7);
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;
-webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;
-webkit-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
.label-premium {
  margin-left: 5px;
  overflow: visible;
border: none;
-webkit-border-radius: 7px;
border-radius: 7px;
font: normal normal bold 20px/40px "Averia Sans Libre", Helvetica, sans-serif;
color: rgb(255, 255, 255);
text-align: center;
text-transform: uppercase;
-o-text-overflow: clip;
text-overflow: clip;
white-space: nowrap;
background: -webkit-linear-gradient(-90deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
background: -moz-linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
background: linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;
-webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;
-webkit-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
.wiki-panel-inner-body {

h1 {
  font-size: 2.5em;
  color: $primary;
}
h2 {
  font-size: 2em;
  color: $info-dark;
}
h3 {
  font-size: 1.5em;
  color: $info;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .9em;
}
h6 {
  font-size: .8em;
}
p {
  font-size: 1.1em;
}

}
@media (max-width: $screen-xs) {
  .wiki-footer .btn-view-wiki {
    text-align: center;
    width: 150px;
    font-size: 1.1em;
  }

}
